<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recycler Dashboard</title>
    
</head>
<body>
    <div class="container">
        <header>
            <div class="logo">Logo</div>
            <button class="nav-btn" onclick="location.href = 'recycler/mylist'">Recycle Item</button>
        </header>
        <main>
            <div class="section">
                <h2>Dashboard</h2>
                <p>Welcome to the Dashboard</p>
            </div>
            <div class="section">
                <h2>Awareness</h2>
                <p>Learn about recycling and sustainability</p>
            </div>
        </main>
    </div>
    
</body>
</html>
